# exlude datasets and externals
notebooks/datasets
notebooks/joblib/

# jupyter-book
jupyter-book/_build

# exclude temporary files
.ipynb_checkpoints
.DS_Store
gmon.out
__pycache__
*.pyc
*.o
*.so
*.gcno
*.swp
*.egg-info
*.egg
*~
build
dist
lib/test
doc/_build
*env
*ENV
.idea
*.code-workspace
.vscode
