scikit-learn
pandas
pandas-profiling
matplotlib
seaborn
plotly
jupyterlab
notebook
jupytext
# pin nbconvert to avoid adding execution_count field
# on markdown cells when generating rendered_notebooks/
# otherwise we get a warning when opening the file in
# jupyter notebook (6.1.4 at this time).
nbconvert==5.6.1
