scikit-learn>=1.3
pandas=2.0  # avoid seaborn warning
matplotlib
seaborn
plotly
jupyter-book>=0.11
# Partial fix for the navbar scrollToActive behavior:
# https://github.com/executablebooks/sphinx-book-theme/issues/541
sphinx-book-theme @ git+https://github.com/ogrisel/sphinx-book-theme@fix-bd-docs-nav
jupytext
beautifulsoup4
IPython
