scikit-learn>=1.6
pandas >= 1
matplotlib
seaborn >= 0.13
plotly
jupyter-book>=0.11
# Partial fix for the navbar scrollToActive behavior:
# https://github.com/executablebooks/sphinx-book-theme/issues/541
sphinx-book-theme @ git+https://github.com/executablebooks/sphinx-book-theme.git@aca0f7fd39314ec3283f1ff798b4bf8ee9b49cad
jupytext
beautifulsoup4
IPython
