scikit-learn>=0.24
imbalanced-learn
pandas>=1
matplotlib
seaborn
plotly
jupyter-book
jupytext
beautifulsoup4
# work-around for pydata-sphinx-theme 0.6.2 which adds a None at the bottom
# left of each generated page
pydata-sphinx-theme==0.6.1
