
/* Large slides iframes */


iframe {
    /* The constant in these values must be adjusted if the theme changes */
    height: calc(100vh - 14ex);
    position: fixed;
    z-index: 1000;
    border-color: #AAA;
    border-style: solid;
}

@media only screen and (max-width : 768px) {
    /* Small screen */
    iframe {
	width: 100%;
	left: 0px;
    }
}

@media only screen and (min-width : 768px) {
    /* Large screen, the sidebar is on the side */
    iframe {
	max-width: calc(min(50vw + 380px, 100vw - 320px));
	width: 1200px;
    }
}

/*
Better highlighting of modules in toc.html, for some reason modules
are aria-level="2" rather than h2
*/
p[aria-level="2"] {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
