
/* Large slides iframes */


iframe {
    /* The constant in these values must be adjusted if the theme changes */
    height: calc(100vh - 14ex);
    max-width: calc(50vw + 380px);
    width: 1200px;
    position: fixed;
    z-index: 1000;
    border-color: #AAA;
    border-style: solid;
}
