@font-face {
  font-family: Ubuntu;
  src: url(Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
    font-family: UbuntuMono;
    src: url(Ubuntu_Mono/UbuntuMono-Regular.ttf) format("truetype");
  }

.remark-slide-number {
    display: none;
} 

div.remark-slide {
    font-family: "Ubuntu";
}

/* Hide the preview of the next notes */
div.remark-notes-preview, div.remark-toggle, div.remark-notes-preview-area {
    display: none;
}

/*  Hide title of notes */
.remark-notes-area .remark-bottom-area .remark-toggle {
    display: none;
}

.remark-notes-area .remark-bottom-area .remark-notes-current-area .remark-notes {
    top: 0px;
}


/* Hide the timer */
.remark-toolbar span.remark-toolbar-timer {
    display: none;
}

div.remark-slide-content.middle {
    padding-top: 0em;
    padding-bottom 3em;
}

div.remark-slide-content.center {
    padding-left: 4em;
    padding-right 4em;
}

div.remark-slide p, div.remark-slide li, .remark-slide-content {
    font-size: 35px;
}

div.remark-slide-content {
    padding-left: 2.5em;
}

div.remark-slide-content:not(.center) h1 {
    margin-right: -2em
}

div.remark-slide-content ul {
    margin-top: .5ex;
}

div.remark-slide-content p {
    margin-bottom: .5ex;
}

div.remark-slide-content li p {
    margin-top: .5ex;
}

div.remark-slide-content li {
    margin-top: 1ex;
}

div.remark-slide-content li p:first-child {
    margin-top: 1.75ex;
}

div.remark-slide-content li li {
    margin-top: .5ex;
}


td, th {
    padding: 0.25em;
}

thead {
    background: #daf2ff;
}

tbody tr:nth-child(even){
  background-color: #e9e9e9;
}

body.remark-container {
    background-color: #eee;
    /* scikit-learn ish gradient */
    background: linear-gradient(160deg, rgb(150, 215, 249) 0%, rgb(255, 243, 211) 100%);
}

/* Enlarge the presenter's note display */

.remark-notes-area {
    left: 60%;
}

.remark-container.remark-presenter-mode .remark-slides-area, 
.remark-container.remark-presenter-mode .remark-preview-area {
    left: 1%;
    width: 58%;
}

.remark-notes-area .remark-bottom-area .remark-notes-current-area {
    height: 100%;
}

.remark-notes-area .remark-bottom-area {
  top: 50px;
}

/* Custom css for layout in slides */
div.remark-slide-content.titlepage h1 {
    font-size: 65px;
}

div.remark-slide-content.titlepage img {
    bottom: 4%;
    left: 4%;
    position: absolute;
    width: 66%;
    opacity: 20%;
}

.header {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
    color: #00517b;
}

div.remark-slide .very-small {
    font-size: 20px;
}

div.remark-slide .small {
    font-size: 28px;
}

div.remark-slide .large {
    font-size: 45px;
}


.larger {
    transform: scale(1.2);
    transform-origin: left;
}

.pull-left {
    float: left;
    width: 45%;
}

.pull-right {
    float: right;
    width: 45%;
}

.pull-right p:first-child {
    margin-top: 0px;
}

.pull-right + p, .pull-right + span {
    clear: both;
}

.clear, p + span.clear {
    clear: both;
}

.width30 {
    width: 30%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width65 {
    width: 65%;
}

.shift-left {
    margin-left: -1ex;
    margin-right: -1ex;
    display: block;
}

.shift-left-more {
    margin-left: -5ex;
    margin-right: 3ex;
    display: block;
}

.shift-up-less {
    margin-top: -1ex;
}

.shift-up {
    margin-top: -3ex;
}

.shift-up-more {
    margin-top: -5ex;
}

img.shift-up {
    margin-top: -5ex;
}

.red {
    color: #911;
}

span.reversed {
    color: white;
    background-color: black;
    padding: .5ex 1ex;
    border-radius: .4ex;
    display: inline-block;
}

.centered, span.centered {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

/*.columms ul li {
    display: inline-block;
    width: 45%;
}*/

.columns ul li {
    float: left;
    min-width: 10ex;
    width: 28%;
    margin-right: 1.25em;
    vertical-align: text-top;
}

div.tight li {
    margin-top: .2ex;
}

.columns ul:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/* Adhoc classes */
.polynomial {
    float: left;
    width: 65%;
    margin-top: -1ex;
    margin-left: -3ex;
}

.data-table th, .data-table td {
    padding: 0.5em;
    text-align: right;
    font-size: 70%;
}

.column1 {
    float: left;
    /* padding-right: 1em; */
}
.column2 {
    float: right;
    /* padding-left: 1em; */
}

.nocolumn {
    clear: both;
    float: none;
}

.split-30 .column1 {
    width: 27%;
}
.split-30 .column2 {
    width: 67%;
}

.split-40 .column1 {
    width: 37%;
}
.split-40 .column2 {
    width: 57%;
}

.split-50 .column1 {
    width: 47%;
}
.split-50 .column2 {
    width: 47%;
}

.split-60 .column1 {
    width: 57%;
}
.split-60 .column2 {
    width: 37%;
}

.split-70 .column1 {
    width: 67%;
}
.split-70 .column2 {
    width: 27%;
}

.split-3columns .column {
    float: left;
    width: 32%;
}

h2 {
    font-size: 80%;
}

h3 {
    font-size: 70%;
}

h3 {
    font-size: 60%;
}

h4 {
    font-size: 50%;
}
