
.remark-slide-number {
    display: none
} 

div.remark-slide {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

div.remark-slide p, div.remark-slide li {
    font-size: 30px;
}


/* old stuff below */

body.remark-container {
    background-color: #eee;
    /* scikit-learn ish gradient */
    background: linear-gradient(160deg, rgb(150, 215, 249) 0%, rgb(255, 243, 211) 100%);
}

