
.remark-slide-number {
    display: none
} 

div.remark-slide {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

div.remark-slide-content.middle {
    padding-top: 0em;
    padding-bottom 3em;
}

div.remark-slide-content.center {
    padding-left: 4em;
    padding-right 4em;
}

div.remark-slide p, div.remark-slide li, .remark-slide-content {
    font-size: 35px;
}

div.remark-slide-content {
    padding-left: 2.5em;
}

div.remark-slide-content:not(.center) h1 {
    margin-right: -2em
}

div.remark-slide-content ul {
    margin-top: .5ex;
}

div.remark-slide-content p {
    margin-bottom: .5ex;
}


thead {
    background: #daf2ff;
}

tbody tr:nth-child(even){
  background-color: #e9e9e9;
}

body.remark-container {
    background-color: #eee;
    /* scikit-learn ish gradient */
    background: linear-gradient(160deg, rgb(150, 215, 249) 0%, rgb(255, 243, 211) 100%);
}

/* Enlarge the presenter's note display */

.remark-notes-area {
    left: 50%;
}

.remark-container.remark-presenter-mode .remark-slides-area, 
.remark-container.remark-presenter-mode .remark-preview-area {
    left: 1%;
}

.remark-notes-area .remark-bottom-area .remark-notes-current-area {
    height: 80%;
}

.remark-notes-area .remark-bottom-area {
  top: 50px;
}

/* Custom css for layout in slides */

div.remark-slide .very-small {
    font-size: 20px;
}

div.remark-slide .small {
    font-size: 28px;
}

div.remark-slide .large {
    font-size: 45px;
}


.larger {
    transform: scale(1.2);
    transform-origin: left;
}

.pull-left {
    float: left;
    width: 45%;
}

.pull-right {
    float: right;
    width: 45%;
}

.pull-right ~ p {
    clear: both;
}

.red {
    color: #911;
}

span.reversed {
    color: white;
    background-color: black;
    padding: .5ex 1ex;
    border-radius: .4ex;
}

/*.columms ul li {
    display: inline-block;
    width: 45%;
}*/

.columns ul li {
    float: left;
    min-width: 10ex;
    width: 28%;
    margin-right: 1.25em;
    vertical-align: text-top;
}

.columns ul:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

